@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header{
    font-family: 'Philosopher', sans-serif;
    color: #000000;
    text-align: center;
}

body{
    margin: 0;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #FFE9E3;
    border-radius: 20pt;
    text-decoration: none;
    color: #000000;
}

.active {
    background-color: #FFE9E3;
    border-radius: 20pt;
    text-decoration: none;
    color: #000000;
}

.img-fluid{
    min-width: 100pt;
    height: auto;
}

.footer{
    background-color: #7C73E6;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10pt;
}

#hub{
    align-items: center;
    color: #FAFAFA;
}

.logo-item{
    width: 50px;
    height: 50px;
}

.container-beranda{
    display: flex;
}

.biodata{
    margin: 10pt;
    padding: 20pt;
    justify-content: center;
    text-align: center;
}

#profile-photo{
    padding: 20pt;
    border-radius: 100%;
}

.short-story{
    margin: 20pt;
    padding: 20pt;
}

.container-riwayat{
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}

.container-riwayat-item{
    background: rgba(196, 193, 224, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nowrap{
    -webkit-flex-wrap:nowrap;
    flex-wrap: nowrap;
}

.wrap{
    padding: 0;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}

#personal{
    margin: 0;
    width: 490pt;
    height: 570pt;
}

#cri-row-2{
    margin-top: 20pt;
    margin-bottom: 0pt;
}

p{
    margin: 0pt;
}

hr{
    border-bottom: inherit;
    width: 0px;
}

.logo-riwayat{
    width: 100px;
    height: 100px;
    margin-bottom: 20pt;
}

.porto-content1{
    padding: 20pt;
    background-color: #FFE9E3;
}

.porto-content2{
    padding: 20pt;
    background-color: #C4C1E0;
}

.porto-foto{
    padding: 20pt;
}

.container-fakta{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container-fakta-item{
    background: rgba(196, 193, 224, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    margin-right: 15%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.fakta-even{
    margin-left: 15%;
    align-items: flex-end
}

.judul-fakta{
    font-weight: bold;
}

html {
    font-size: 14px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 8 * ((100vw - 320px) / 880));
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}